n8n-automation-flow/fake-news-detector.json
{
  "name": "fake-news-detector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "messages-upsert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2736,
        1184
      ],
      "id": "f63de975-4878-44d9-bca8-5f1adfb1c632",
      "name": "Mensagem recebida",
      "webhookId": "10b70ed5-60f9-400b-8889-859e1cba95e3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1fa8e40-179f-49dd-a6cc-fe96739e8e9a",
              "name": "mensagem",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        384
      ],
      "id": "f8c9939f-553e-46f6-b69d-d675b46abbdc",
      "name": "Pega Mensagem"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio.mp3",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -864,
        384
      ],
      "id": "8b0e7a01-0655-43e4-85fb-09ad7b268bb0",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "jUgpRD5ubSQ5y9Aa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "binaryPropertyName": "audio.mp3",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1152,
        384
      ],
      "id": "806dbd11-9542-4eb9-ba0f-9507dffcd462",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Editar dados').item.json.instancia }}",
        "messageId": "={{ $('Editar dados').item.json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1440,
        384
      ],
      "id": "e51fd819-fa00-4ae0-ae74-ad1a2f92fc21",
      "name": "Obter m dia em base64",
      "credentials": {
        "evolutionApi": {
          "id": "MWyflckZQCFqTOaA",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Editar dados').item.json.tipoMensagem }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d3163e93-ba13-4ed6-9af5-c5715f3e93d9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isAudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "389ae815-4779-4f00-8671-7ae235e1c2aa",
                    "leftValue": "={{ $('Editar dados').item.json.tipoMensagem }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isText"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05bf052d-e5aa-4b19-8368-09737e639190",
                    "leftValue": "={{ $('Editar dados').item.json.tipoMensagem }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isImage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "521cec87-03b0-4c76-be19-59bfdf99abe5",
                    "leftValue": "={{ $('Editar dados').item.json.tipoMensagem }}",
                    "rightValue": "=videoMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isVideo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "032f76a9-d173-448c-8968-0cd60529be70",
                    "leftValue": "={{ $('Editar dados').item.json.tipoMensagem }}",
                    "rightValue": "documentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isDocument"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f742abcb-ab2a-4c29-8f98-83a5d19b7c4d",
                    "leftValue": "={{ $('Editar dados').item.json.tipoMensagem }}",
                    "rightValue": "hifhie",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "isInvalid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2064,
        1120
      ],
      "id": "1bb4bced-a005-4ff4-8ee7-d0cce7e562e7",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Editar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Editar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -864,
        672
      ],
      "id": "034cadf7-002b-43d0-910f-97970bfcf66e",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "MWyflckZQCFqTOaA",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2684c19-ecf8-4336-905d-385aee7c06eb",
              "name": "instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "86d6cd66-4fbf-44c5-ac05-d3addccf7ae0",
              "name": "numeroQuemEnviou",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "73698167-d83a-4434-b384-895f85e418cd",
              "name": "nomeQuemEnviou",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "4a7a4195-0a75-49f5-9794-140e969b5cdd",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "b45b3ee8-1da5-4420-837e-319744ce52f7",
              "name": "idMensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "c1b18a69-06bc-4f6c-bc49-32af19de6026",
              "name": "tipoMensagem",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "c434eeaf-2f5e-4d3f-9db0-0e78205fdd12",
              "name": "chaveAPI",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2512,
        1184
      ],
      "id": "c37e013a-3433-417f-9c23-9bd0c862c5a3",
      "name": "Editar dados"
    },
    {
      "parameters": {
        "operation": "fetch-instances",
        "instanceName": "fake-news-detector"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2736,
        928
      ],
      "id": "c65019f6-bcde-47c3-8c72-ee770be7cc4b",
      "name": "Buscar instancia",
      "credentials": {
        "evolutionApi": {
          "id": "MWyflckZQCFqTOaA",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.responseWithoutLinks }}",
        "voice": "onyx",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        384
      ],
      "id": "bf9849aa-df93-4c58-b9ba-4ea0fe172f98",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "jUgpRD5ubSQ5y9Aa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        288,
        384
      ],
      "id": "8c4f61d7-0227-4d07-8bd2-acd9ffda4fc0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "={{ $('Editar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Editar dados').item.json.numeroQuemEnviou }}",
        "media": "={{ $json.data }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        512,
        384
      ],
      "id": "e50dc319-bd52-4f10-80ba-0e41dfbafed9",
      "name": "Enviar audio",
      "credentials": {
        "evolutionApi": {
          "id": "MWyflckZQCFqTOaA",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "imagem",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -864,
        992
      ],
      "id": "42578de5-dc28-4ac8-a3ec-4307aff70af4",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Você receberá uma imagem enviada pelo usuário. Sua tarefa é:\n\nGerar uma descrição detalhada e completa do conteúdo da imagem (objetos, cenário, todos os textos, símbolos etc.). Escreva todos os textos da imagem.\n\nIncluir a legenda fornecida pelo usuário exatamente assim: {{ $('Pega texto da imagem').item.json.caption }}.\n\nRetornar no seguinte formato:\n\nDescrição da imagem: [sua descrição detalhada aqui]  \nLegenda da imagem: {{ $('Pega texto da imagem').item.json.caption }}",
        "inputType": "base64",
        "binaryPropertyName": "imagem",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -640,
        992
      ],
      "id": "5c747932-c9b4-4438-95c9-a8dd878d9f2e",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "jUgpRD5ubSQ5y9Aa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Editar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Editar dados').item.json.numeroQuemEnviou }}",
        "messageText": "={{ $json.rationale }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        288,
        992
      ],
      "id": "4edffc80-4cf8-47f5-8c40-85bf49e788a7",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "MWyflckZQCFqTOaA",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Editar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Editar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Eu não consigo analisar vídeos, você pode enviar um texto, um áudio ou uma imagem para eu analisar",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1664,
        1280
      ],
      "id": "b50efc6f-d999-4a17-a2fa-e0a2f725e5ba",
      "name": "Enviar texto2",
      "credentials": {
        "evolutionApi": {
          "id": "MWyflckZQCFqTOaA",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $json.instancia }}",
        "remoteJid": "={{ $json.numeroQuemEnviou }}",
        "messageId": "={{ $json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -2288,
        1184
      ],
      "id": "fca99eb8-3513-4d82-bc8c-66b2bb5b561e",
      "name": "Marcar mensagens como lidas",
      "credentials": {
        "evolutionApi": {
          "id": "MWyflckZQCFqTOaA",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Editar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Editar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Eu não consigo analisar documentos, você pode enviar um texto, um áudio ou uma imagem para eu analisar",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1664,
        1472
      ],
      "id": "a516f089-7287-4b54-bb70-5e8aa02ed63c",
      "name": "Enviar texto3",
      "credentials": {
        "evolutionApi": {
          "id": "MWyflckZQCFqTOaA",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1fa8e40-179f-49dd-a6cc-fe96739e8e9a",
              "name": "mensagem",
              "value": "={{ $('Editar dados').item.json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        672
      ],
      "id": "1518ce5d-0667-42ab-8290-0d71206a6cc6",
      "name": "Pega Mensagem1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Editar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Editar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando o áudio para verificar se é uma fake news ou não.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1664,
        384
      ],
      "id": "dab7e860-05d6-434e-b233-dc1cfbb27259",
      "name": "Enviar texto4",
      "credentials": {
        "evolutionApi": {
          "id": "MWyflckZQCFqTOaA",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Editar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Editar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando a mensagem para verificar se é uma fake news ou não.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1664,
        672
      ],
      "id": "79102e02-2b71-41e9-945c-740dc3a6848a",
      "name": "Enviar texto5",
      "credentials": {
        "evolutionApi": {
          "id": "MWyflckZQCFqTOaA",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Editar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Editar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Estou analisando a imagem para verificar se é uma fake news ou não.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1664,
        992
      ],
      "id": "f7e55eb5-4cb8-4a77-b0fd-27ce66d74ef9",
      "name": "Enviar texto6",
      "credentials": {
        "evolutionApi": {
          "id": "MWyflckZQCFqTOaA",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://agro-na-mao-evolution-api.9hx4sf.easypanel.host/chat/getBase64FromMediaMessage/{{ $('Editar dados').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $('Editar dados').item.json.chaveAPI }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Editar dados').item.json.idMensagem }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        992
      ],
      "id": "fa4159b9-52d7-465d-ae3b-79c72ce9055d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ae3e2d8-4b9e-4819-9d65-cfd11def0842",
              "name": "caption",
              "value": "={{ $('Mensagem recebida').item.json.body.data.message.imageMessage.caption ?? \"Sem descição\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        992
      ],
      "id": "61981ae5-1f2d-4504-b6a4-c74f105c54c1",
      "name": "Pega texto da imagem"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Editar dados').item.json.instancia }}",
        "remoteJid": "={{ $('Editar dados').item.json.numeroQuemEnviou }}",
        "messageText": "=Eu não consigo analisar esse tipo de arquivo, você pode enviar um texto, um áudio ou uma imagem para eu analisar",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1664,
        1664
      ],
      "id": "16169ff4-9345-4a9d-ab07-a5ab2bf23760",
      "name": "Enviar texto7",
      "credentials": {
        "evolutionApi": {
          "id": "MWyflckZQCFqTOaA",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1fa8e40-179f-49dd-a6cc-fe96739e8e9a",
              "name": "conteudoImagem",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        992
      ],
      "id": "b5c7a121-ecf7-4965-9379-00622af9a171",
      "name": "Pega Mensagem2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tacertoissoai.onrender.com/api/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        672
      ],
      "id": "46fe3f2d-4fd4-4792-8655-63b20d355943",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tacertoissoai.onrender.com/api/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        384
      ],
      "id": "c9ed68f4-b9cc-4645-a827-7579b5107109",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tacertoissoai.onrender.com/api/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.conteudoImagem }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        992
      ],
      "id": "16e9ba29-2f89-4129-9459-efe683c86352",
      "name": "HTTP Request3"
    }
  ],
  "pinData": {},
  "connections": {
    "Mensagem recebida": {
      "main": [
        [
          {
            "node": "Editar dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega Mensagem": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Pega Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Enviar texto4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editar dados": {
      "main": [
        [
          {
            "node": "Marcar mensagens como lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Enviar audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Pega Mensagem2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar mensagens como lidas": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega Mensagem1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto6": {
      "main": [
        [
          {
            "node": "Pega texto da imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto5": {
      "main": [
        [
          {
            "node": "Pega Mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto4": {
      "main": [
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega texto da imagem": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega Mensagem2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d4d131d-5e64-4842-b487-27b6e915d5ab",
  "meta": {
    "instanceId": "24299cfd1d54d30dace73c39a18aadb03fd74dd5540dbf7e9db03fe9230df763"
  },
  "id": "rVYkrQZhL0QtSE42",
  "tags": []
}